<div layout="row">
    <div flex='50'>
        <h4>{{vm.user.name}} you are logged in</h4>
    </div>
    <div flex='50'>
        <p><a href="#/login" class="btn btn-warning">Logout</a></p>
    </div>
</div>


<div ng-switch="vm.subview">
    
    <div ng-switch-when="all">
        <ng-include src=" 'components/home/feedbackRequest.html' "></ng-include>
        <ng-include src=" 'components/home/homeViewRemainder.html' "></ng-include>
    </div>
    
    <div ng-switch-when="requestForm">
        <ng-include src=" 'components/home/feedbackRequest.html' "></ng-include>
    </div>
    
    <div ng-switch-when="remainder">
        <ng-include src=" 'components/home/homeViewRemainder.html' "></ng-include>
    </div>
    
    <div ng-switch-when="rate">
        <ng-include src=" 'components/home/rate.html' "></ng-include>
    </div>
    
</div>



