<h3>Hi {{vm.user.name}}!</h3> 

<!--*******************ASK FEEDBACK*************************-->

<div ng-controller="FormController">
    <form name="form" ng-submit="sendRequest(template, user)" role="form" novalidate>
        <div class="md-padding">
            <div>
                <h1 class="md-title">Ask feedback</h1>
                <div layout="row">
                    <md-input-container style="margin-right: 0px;">
                        <label>Choose template</label>
                        <md-select ng-model="template" required>
                            <md-option ng-repeat="template in vm.templates" value="{{template.URI}}">{{template.name}} - {{template.category}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>    
                <div layout="row">    
                    <md-input-container style="margin-right: 0px;">
                        <label>Choose user</label>
                        <md-select ng-model="user" required>
                            <md-option ng-repeat="user in vm.allUsers" value="{{user.href}}">{{user.title}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <p ng-show="requestSubmitted">SUCCES! Response:</p>
                <p>{{sendRequestResponse}}</p>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-hide="requestSubmitted">ASK FEEDBACK</button>
        </div>
    </form>
</div>

<!--*******************ASK FEEDBACK*************************-->

<p>RECEIVED FEEDBACK</p>
{{vm.receivedFeedback}}


<p>YOUR QUESTIONS</p>
<ul>
    <li ng-repeat="template in vm.templates">
        {{template.name}}
        <ul>
            <li ng-repeat="question in template.questions">
                - {{question.question}} - {{question.formType}}
            </li>
        </ul>
        -------------------------------------------------------------------------------------------------------------
    </li>
</ul>
<p>YOUR RECEIVED REQUESTS</p>
<ul>
    <li ng-repeat="request in vm.receivedRequests">
        from: {{request.requestOwnerName}} with email: {{request.requestOwnerEmail}}
        <br /> request uri: {{request.URI}}
        <br /> request template uri: {{request.requestTemplateURI}}
        <ul>
            <li ng-repeat="question in request.questions">
                - {{question.question}} - {{question.formType}}
            </li>
        </ul>
        -------------------------------------------------------------------------------------------------------------
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>